# Required.
# Local app can use relative or absolute path.
# Docker compose should use an absolute path (same path is mounted into container).
# Example: /Users/you/traefik/dynamic.yml
DYNAMIC_CONFIG_PATH=
